.contenedor{
    
    position: relative;
}
h1{
    
    
    color:white;
    
    font-family: arial;
    width: 50%;
    
}
.linea1{
    font-weight: bolder;
    font-size:2em;
    padding:0 0.9em;
}
.linea2{
    font-size: 1.8em;
    font-size: arial;
    padding:0 1em;
}
p{
    color:white;
    padding:1em 3.8em;
    font-family: arial;
    
    
    
}
.elemento{
    
    padding:0.5em;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    overflow:hidden;
    height:100vh;

}
header{
    display: flex;
    justify-content: space-between;
    height:20vh;
    
    padding:0 3em;
}

header p{
    color:white;
    font-size:1em 1.5em;
    font-family: calibri;
    padding:1em 3em;
}
nav{
  
    padding:2em 2em 0 0;
}
a{
    
    padding:1em 1.5em;

}
main{
    
    height:400px;
    height: 70vh;
    padding:0 2em;

}
main a{
    background-color: white;
    padding:0.3em 1em ;
    text-decoration: none;
    color:black;
    font-size: 1.5em;
    font-family: calibri;
    position: relative;
    left:70px;
}
body{
    margin:0;
    padding:0;
  
}
footer{
    padding:0 6em;
    
    height: 10vh;
   
}
.cont1{
    position: relative;
    z-index:15;
}
footer img{
    
    padding:0 1.5em;
    filter:invert(1);
}
footer a{
    padding:0;
}
*{
    box-sizing:border-box;
}